<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro">
  <!-- Here we define the 2 parameters of the macro -->
  <xacro:macro name="ur5e_measurement_tool" params="prefix connected_to">
    <!-- Create a fixed joint with a parameterized name. -->
    <joint name="${prefix}ur5e_measurement_joint" type="fixed">
      <!-- The parent link must be read from the robot model it is attached to. -->
      <parent link="${connected_to}"/>
      <child link="${prefix}ur5e_measurement_tool"/>
      <!-- The tool is directly attached to the flange. -->
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>
    <link name="${prefix}ur5e_measurement_tool">
      <visual>
        <geometry>
          <!-- The path to the visual meshes in the package. -->
          <mesh filename="package://ur5e_with_optik/meshes/visual/20220819_LMG_Adapter_SCE_in_m.stl"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <!-- The path to the collision meshes in the package. -->
          <mesh filename="package://ur5e_with_optik/meshes/collision/20220819_LMG_Adapter_SCE_in_m.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0" />
        <inertia ixx = "0.000033" ixy = "0" ixz = "0"
                 iyy = "0.000033" iyz = "0"
                 izz = "0.000033" />
        </inertial>
    </link>

    <!-- TCP frame -->
    <joint name="${prefix}tcp_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${prefix}ur5e_measurement_tool"/>
      <child link="${prefix}tcp"/>
    </joint>
    <link name="${prefix}tcp"/>

  </xacro:macro>
</robot>
